# Arquivos de ambiente
.env
.env.*

# Arquivos de teste / experimentos
teste.py
*_test.py
test_*.py

# Cache do Python
__pycache__/
*.pyc

# Ambiente virtual (se existir)
venv/
.env/
.venv/

# Node (se tiver)
node_modules/

# Logs
*.log
LOG_dados_normalizados.txt
LOG_dados_mixpanel.json
